#include "resource.h"

// Icon定義
IDR_ICON ICON DISCARDABLE "EyesOn.ico"
IDR_ICON2 ICON DISCARDABLE "EyesOn2.ico"

// メニュー定義
IDR_MENU MENU DISCARDABLE
BEGIN
	POPUP "アプリ(&A)"
	BEGIN
		MENUITEM "アイコンの「変化あり」表示クリア(&C)*",IDM_APLI_ICON
		MENUITEM SEPARATOR
		MENUITEM "新規登録を「監視あり」で設定(&W)*",	IDM_APLI_WATCH
		POPUP "1文字のリスト検索(&S)"
		BEGIN
			MENUITEM "先頭1文字に一致(&H)*",			IDM_APLI_HEAD
			MENUITEM "1文字を含む(&I)*",				IDM_APLI_INC
			MENUITEM "なし(&N)*",						IDM_APLI_NONE
		END
		MENUITEM "除外ファイル(&E)*...",				IDM_APLI_OMIT
		MENUITEM "フォント(&F)...",						IDM_APLI_FONT
		MENUITEM SEPARATOR
		MENUITEM "*:右クリックによる解説あり",			IDM_APLI_EXPL
		MENUITEM SEPARATOR
		MENUITEM "終了(&X)",							IDM_APLI_EXIT
	END
	POPUP "リスト(&L)"
	BEGIN
		MENUITEM "開く(&O)*\tEnter",					IDM_LIST_OPEN
		MENUITEM "フォルダを開く(&P)*\tShift+Enter",	IDM_LIST_PATH
		MENUITEM "コマンドプロンプト(&C)*\tCtrl+Enter",	IDM_LIST_CMD
		MENUITEM SEPARATOR
		POPUP "変化監視(&W)"
		BEGIN
			MENUITEM "あり(&A)",					IDM_LIST_ON
			MENUITEM "なし(&N)",					IDM_LIST_OFF
		END
		POPUP "監視周期(&I)"
		BEGIN
			MENUITEM "9時間(&9)",					IDM_LIST_9HOUR
			MENUITEM "6時間(&6)",					IDM_LIST_6HOUR
			MENUITEM "3時間(&3)",					IDM_LIST_3HOUR
			MENUITEM "1時間(&H)",					IDM_LIST_1HOUR
			MENUITEM "30分(&T)",					IDM_LIST_30MIN
			MENUITEM "5分(&F)",						IDM_LIST_5MIN
//			MENUITEM "1分(&O)",						IDM_LIST_1MIN
		END
		POPUP "監視パターン(&K)"
		BEGIN
			MENUITEM "更新+追加(&0)*",				IDM_LIST_PTN0
			MENUITEM "更新+追加+削除(&1)*",			IDM_LIST_PTN1
		END
		MENUITEM "詳細設定(&D)...",					IDM_LIST_DETAIL
		MENUITEM SEPARATOR
		MENUITEM "上へ移動(&U)*\tCtrl+↑",			IDM_LIST_UP
		MENUITEM "下へ移動(&L)*\tCtrl+↓",			IDM_LIST_DOWN
		MENUITEM SEPARATOR
		MENUITEM "リスト検索(&S)\tCtrl+F",			IDM_LIST_SRCH
		MENUITEM SEPARATOR
		MENUITEM "グループ設定(&G)*",				IDM_LIST_GROUP
		MENUITEM "グループ解除(&R)*",				IDM_LIST_UNGROUP
		MENUITEM SEPARATOR
		MENUITEM "*:右クリックによる解説あり",		IDM_APLI_EXPL
		MENUITEM SEPARATOR
		MENUITEM "削除((&X)",						IDM_LIST_DELETE
	END
	POPUP "ヘルプ(&H)"
	BEGIN
		MENUITEM "概略(&O)",						IDM_HELP_OUTLINE
		MENUITEM "監視方法(&M)",					IDM_HELP_METHOD
		MENUITEM "メニューに無い操作(&N)",			IDM_HELP_NOMENU
		MENUITEM SEPARATOR
		MENUITEM "バージョン情報(&A)",				IDM_HELP_VERSION
	END
END

// Dialog1定義
IDD_DIALOG1 DIALOG DISCARDABLE 0, 0, 160, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "バージョン情報"
FONT 11, "ＭＳ Ｐゴシック"
BEGIN
	ICON  "IDR_ICON",                            IDC_STATIC,   8, 10,  20, 20
	LTEXT "EyesOn - ファイル変化監視",           IDC_STATIC,  30, 10, 120, 10
	LTEXT "Version 0.0.0 (YYYY/MM/DD)",          IDC_VERSION, 30, 22, 120, 10
	LTEXT "---------------------------",         IDC_STATIC,  30, 34, 120, 5
	LTEXT "Copyright(C) 2020 Akihito Ueguri",    IDC_STATIC,  30, 42, 120, 10
	DEFPUSHBUTTON  "OK", IDOK, 110, 60, 40, 12, WS_GROUP
END

// Dialog2定義
IDD_DIALOG2 DIALOG DISCARDABLE 0, 0, 200, 125
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "詳細設定"
FONT 11, "ＭＳ Ｐゴシック"
BEGIN
	LTEXT "タイトル：",		IDC_STATIC,   5,  7,  40, 12
	EDITTEXT 				IDC_TITLE,   40,  5, 155, 12, ES_AUTOHSCROLL
	LTEXT "リンク先：",		IDC_STATIC,   5, 22,  40, 12
	EDITTEXT 				IDC_LINK,    40, 20, 155, 12, ES_AUTOHSCROLL

	GROUPBOX "", 					     -1, 40,  37, 140, 55, BS_CENTER
	AUTOCHECKBOX "変化を監視する",	IDC_ACT, 45,  45,  60, 12
	LTEXT "監視周期：",			IDC_STATIC,  45,  60,  70, 12
	COMBOBOX					IDC_INTVL,  105,  58,  40, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT "監視パターン：",		IDC_STATIC,  45,  75,  70, 12
	COMBOBOX					IDC_PTN,    105,  73,  70, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON  "変更(&U)",		IDOK,        90, 105, 50, 12 WS_GROUP
	PUSHBUTTON  "キャンセル(&C)",	IDCANCEL,   145, 105, 50, 12
END

// Dialog3定義
IDD_DIALOG3 DIALOG DISCARDABLE 0, 0, 170, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 11, "ＭＳ ゴシック"
BEGIN
	LTEXT "",			IDC_GUIDE,  5,  5, 160, 12
	COMBOBOX			IDC_INPUT,  5, 20, 160, 60, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON  "実行",		IDOK,       80, 40, 40, 12 WS_GROUP
	PUSHBUTTON  "キャンセル",	IDCANCEL,  125, 40, 40, 12
END

// Dialog0定義
IDD_DIALOG0 DIALOG DISCARDABLE 0, 0, 140, 68
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 11, "ＭＳ Ｐゴシック"
BEGIN
	LTEXT		"",	IDC_NOTE,  5,  7, 130, 36, SS_LEFT | SS_NOPREFIX
	PUSHBUTTON	"",	IDBTN1,    5, 48,  40, 12
	PUSHBUTTON	"",	IDBTN2,   50, 48,  40, 12
	PUSHBUTTON	"",	IDBTN3,   95, 48,  40, 12
END
